.main {
  margin: var(--margin-section);
}

.main-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  padding: var(--padding-text-div);
}

.weather__img,
.weather__description {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 400px;
  min-height: 400px;
  overflow: hidden;

  margin: var(--margin-text-div);
  border-radius: var(--border-radius);
}



.weather__description {
  flex-direction: column;
}

.main .icon {
  margin-right: 10px;
}

.weather__img-img {
  object-fit: cover;
  width: 300px;
  transition: var(--transition-duration);
  padding: var(--padding-text-div);
}


.description__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-size: 50px;
  line-height: 60px;

  border-radius: var(--border-radius);

  padding: var(--padding-text-div);
  margin: var(--margin-text-div);
}

.description__t {
  font-size: 30px;
}

.description__name {
  font-weight: 700;
  text-align: center;
}

.main__start-button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: var(--padding-text-div);
}

@media(max-width:1200px) {
  .weather__img {
    min-height: 50px;
  }

  .description__name {
    font-size: 24px;
  }


}